* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("IMG_5953.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 40px 15px;
  text-align: center;
}
